<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SignalPath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FED634F21D6F5CB300276E21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FED6350B1D6F5CB400276E21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FED635161D6F5CB400276E21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
